.image__container {
  width: 100%;
  height: 38%;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  &--asics {
    background-image: linear-gradient(
        transparent,
        transparent 60%,
        rgba(255, 255, 255, 0.996) 97%
      ),
      url(https://images.unsplash.com/photo-1560072810-1cffb09faf0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  }
  &--adidas {
    background-image: linear-gradient(
        transparent,
        transparent 60%,
        rgba(255, 255, 255, 0.996) 97%
      ),
      url(https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  }
  &--newbalance {
    background-image: linear-gradient(
        transparent,
        transparent 60%,
        rgba(255, 255, 255, 0.996) 97%
      ),
      url(https://images.unsplash.com/photo-1539185441755-769473a23570?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
  }
}
