@font-face {
  font-family: "Quicksand";
  src: url(../assets/fonts/Quicksand-VariableFont_wght.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand__reg";
  src: url(../assets/fonts/Quicksand-VariableFont_wght.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Quicksand__bold";
  src: url(../assets/fonts/Quicksand-VariableFont_wght.woff2);
  font-weight: 600;
}
